<%- include('./partials/head') %>

<main>
    <!-- Background Crosses -->
    <div class="crossesMain">
        <div class="cross"></div>
        <div class="cross"></div>
        <div class="cross"></div>
    </div>

    <!-- Hero section -->
    <section id="hero" class="hero">
        <!-- Name in the middle -->
        <h1><%- locals.content.name %> </h1>

        <!-- Scroller icon -->
        <a href="#info" class="scroller-icon">
            <div class="scroll-down">
                <div class="mouse">
                    <div class="scroller"></div>
                </div>
            </div>
        </a>
    </section>

    <!-- Info section -->
    <section id="info" class="info">
        <!-- Avatar -->
        <div class="img-container">
            <img src="<%- locals.content.avatar %> " alt="Tristan naast een kasteel" class="pf-img">
        </div>

        <!-- Info -->
        <div class="info-text">
            <p class="name"><%- locals.content.name + " " + locals.content.prefix + " " + locals.content.surname %></p>
            <p class="bio"><%- locals.content.bio.html %> </p>
            <p class="age">21</p>
            <p class="squad"><%- locals.content.squads[0].name %></p>
        </div>
    </section>

    <!-- Changing cards -->
    <div class="description-cards">
        <!-- Skills section -->
        <section id="skills" class="skills front-card card-face">
            <div class="skills-container">
                <div class="skill">
                    <div class="progress">
                        <p>HTML</p>
                    </div>
                </div>
                <div class="skill">
                    <div class="progress">
                        <p>CSS</p>
                    </div>
                </div>
                <div class="skill">
                    <div class="progress">
                        <p>JavaScript</p>
                    </div>
                </div>
                <div class="skill">
                    <div class="progress">
                        <p>PHP</p>
                    </div>
                </div>
                <div class="skill">
                    <div class="progress">
                        <p>Python</p>
                    </div>
                </div>
                <div class="skill">
                    <div class="progress">
                        <p>Java</p>
                    </div>
                </div>
            </div>

            <div class="socials">
                <a class="social" href="https://www.linkedin.com/in/tristan-de-muijnck-50a0b1181/"><img class="social-img" src="./assets/linkedin.svg" alt="LinkedIn Logo"></a>
                <a class="social" href="https://github.com/<%- locals.content.gitHubHandle %>"><img class="social-img" src="./assets/github.svg" alt="GitHub Logo"></a>
                <a class="social" href="https://www.instagram.com/tristandemuijnck/"><img class="social-img" src="./assets/instagram.svg" alt="Instagram Logo"></a>
            </div>
        </section>

        <!-- Extra section -->
        <section id="extra" class="extra back-card card-face">
            <div class="hobbies">
                <div class="hobby"><p>Voetbal</p></div>
                <div class="hobby"><p>Gamen</p></div>
                <div class="hobby"><p>Coding</p></div>
                <div class="hobby"><p>Skateboarden</p></div>
            </div>

            <div class="studies">
                <p>Havo - St.Nicolaas Lyceum</p>
                <p>MBO 4 - Applicatieontwikkelaar</p>
                <p>HBO - Frontend Design & Development</p>
            </div>
        </section>
    </div>
</main>

<%- include('./partials/foot') %>