<%- include('./partials/head') %>

<main>
    <!-- Background Crosses -->
    <div class="crossesMain">
        <div class="cross"></div>
        <div class="cross"></div>
        <div class="cross"></div>
    </div>

    <!-- Hero section -->
    <section id="hero">
        <!-- Name in the middle -->
        <h1><%- locals.content.name + " " + locals.content.prefix + " " + locals.content.surname %> </h1>

        <!-- Scroller icon -->
        <a href="#info" class="scroller">
            <div class="scroll-down">
                <div class="mouse">
                    <div class="scroller"></div>
                </div>
            </div>
        </a>
    </section>

    <!-- Info section -->
    <section id="info">
        <!-- Avatar -->
        <img src="<%- locals.content.avatar %> " alt="Tristan naast een kasteel" class="pf-img">

        <!-- Info -->
        <div class="info-text">
            <p class="name"><%- locals.content.name + " " + locals.content.prefix + " " + locals.content.surname %></p>
            <p class="bio"><%- locals.content.bio.html %> </p>
            <p class="age">21</p>
        </div>
    </section>

    <!-- Skills section -->
    <section id="skills">
        <div class="skills">
            <div class="skill"><p>HTML</p></div>
            <div class="skill"><p>CSS</p></div>
            <div class="skill"><p>JavaScript</p></div>
            <div class="skill"><p>PHP</p></div>
            <div class="skill"><p>Python</p></div>
            <div class="skill"><p>Java</p></div>
        </div>

        <div class="socials">
            <a class="social" href="#"><img src="" alt="LinkedIn Logo"></a>
            <a class="social" href="https://github.com/<%- locals.content.gitHubHandle %>"><img src="" alt="GitHub Logo"></a>
            <a class="social" href="#"><img src="" alt="Instagram Logo"></a>
        </div>
    </section>

    <!-- Extra section -->
    <section id="extra">
        <div class="hobbies">
            <div class="hobby"><p>Voetbal</p></div>
            <div class="hobby"><p>Gamen</p></div>
            <div class="hobby"><p>Coding</p></div>
            <div class="hobby"><p>Skateboarding</p></div>
        </div>

        <div class="studies">
            <p>Havo - St.Nicolaas Lyceum</p>
            <p>MBO 4 - Applicatieontwikkelaar</p>
            <p>HBO - Frontend Design & Development</p>
        </div>
    </section>
</main>

<%- include('./partials/foot') %>